POSTGRES_DB=storage_control
POSTGRES_USER=scuser
POSTGRES_PASSWORD=changeme123

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/storage_control
SPRING_DATASOURCE_USERNAME=scuser
SPRING_DATASOURCE_PASSWORD=changeme123

JWT_SECRET=dev_secret_replace_me_with_256bit_random_string
JWT_EXPIRATION_MS=86400000

JAVA_OPTS=-Xms256m -Xmx512m