:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.user-register-card{
  width: 100%;
  max-width: 420px;
  padding: 16px;

  mat-card-title {
    font-size: 24px;
    margin-bottom: 4px;
  }

  mat-card-content {
    margin-top: 24px;

    form {
      display: flex;
      flex-direction: column;
      gap: 8px;

      mat-form-field {
        width: 100%;
      }

      button[type="submit"] {
        margin-top: 8px;
        height: 48px;
        font-size: 16px;
      }
    }
  }
}